* {
    font-family: 'Changa', sans-serif;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    background-image: url("https://toppng.com/uploads/preview/christmas-toys-glitter-golden-dark-christmas-new-year-11570323013zid2lbufwx.jpg");
}
header{
    margin-bottom: 20px;

}
#myName {
    font-weight: bolder;
    color: gold;
    font-size: xx-large;
    
}

.container{
    margin:0 auto;
    width: 75%;
    height: 100%;
    padding: 20px 10px 20px 15px; 
    background-color: black;
}



h1 {
    font-size: x-large;
    color: gold;
    font-weight: bold;
}

#logo {
    height: 25%;
    width: 25%;
}
    

.pic1 {
    border: black solid;
    height: 50vh;
}

p {
    color: whitesmoke;
    line-height: 4vh;
    font-size: x-large;
}

.nav-bar-list-item {
    color: whitesmoke;
    font-family: 'Changa', sans-serif;
}

li:hover {
    color: whitesmoke;
}




/* portfolio*/ 
.projects {
    font-family: 'Changa', sans-serif;
    padding-right: 20px;
    margin-left:auto;
}

.container >.card1 {
    object-fit: contain;
    margin-top: 15px auto;
    padding-top: 20px;
    display: inline-block;

    position: absolute;
    top: 50%;
    left:50%
    
}

/* contact*/
#contact{
    margin: 0 auto;
    width: 50%;
}
.contacts {
    list-style: none;
}

.contacts li {
    display: inline-block;
    padding: 0px 20px;
}
label {
    float: left;
    width: 150px;
    text-align: right;
    padding-right: 12px;
    margin-top: 12px;
    clear: left;
    color: #edf0f1;
}
input, textarea {
    margin-top: 12px;
}
.submit {
    margin-left: 150px;
    padding-bottom: 10px;
    width: 40px;
    border: 10px;
}

