* {
    font-family: 'Changa', sans-serif;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    background-image: url("https://toppng.com/uploads/preview/christmas-toys-glitter-golden-dark-christmas-new-year-11570323013zid2lbufwx.jpg");
}
header{
    margin-bottom: 20px;

}
#myName {
    font-weight: bolder;
    color: gold;
    font-size: xx-large;
    
}

.container{
    margin:0 auto;
    width: 75%;
    height: 100%;
    padding: 20px 10px 20px 15px; 
    background-color: gray;
}



h1 {
    font-size: x-large;
    color: gold;
    font-weight: bold;
}
    

.pic1 {
    border: black solid;
    height: 50vh;
}

p {
    color: whitesmoke;
    line-height: 5vh;
}




/* portfolio*/ 
.projects {
    font-family: 'Changa', sans-serif;
    padding-right: 20px;
    margin-left:auto;
}
